/*
Containers
*/

.post-container {
    display: flex;
    padding: 10px;
    justify-content: left;
    flex-wrap: wrap;
}

.post-card {
    width: 31%;
    /*height: 400px;*/
    padding: 10px;
    margin: 10px;
    overflow: auto;
    text-overflow: ellipsis;
}
.post-content {
    color: black;
}

/* 
Posts
*/

.post-div {
    /*
    display: grid;
    grid-template-columns: [left-end] 50% [center-line] 50% [right-end];
    grid-template-rows: [top-end] 50% [middle-line] 50% [bottom-end];
    grid-area: 
        'img title'
        'desc desc';
    grid-gap: 0px;
    */
    width: 250px;
    height: 250px;
    margin: 10px;
}

.post-img {
    max-width: 200px;
    max-height: 150px;
}

.post-title {
    /*
    grid-area: title;
    */
}

.post-desc {
    /*
    grid-area: desc;
    */
}

/*
Formatting
*/

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/* PROJECTS */
.project-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.project-title {
    background-color: rgba(255, 255, 255, 0.45);
}