<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app" v-if="seen">
        <!--<div v-bind:class="css_class">
            <img v-bind:src="img_src" v-bind:class="img_class">
            <a v-bind:href="article_src"><h1>{{ title }}</h1></a>
            <p>{{ text }}</p>
        </div>-->
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-two-thirds">
                        <div class="post-container">
                            <post-item v-for="post in posts" 
                                v-bind:title="post.title" 
                                v-bind:description="post.description" 
                                v-bind:img_src="post.img_src"
                                v-bind:article_src="post.article_src"></post-item>
                        </div>
                        
                    </div>
                    <div class="column is-one-third">

                    </div>
                </div>
            </div>
        </section>
            
    </div>
    <script src="js/main.js"></script>
</body>
</html>